img {
    width: 85%;
    transition: 0.3s ease;
}
.box {
    background-color: white;
    transition: background-color 0.6s ease;
}
img:hover {
    transform: rotateZ(30);
}

body {
    transition: background-color 0.6 ease;
    height: 100vh;
    background-color: #FFFFFF;
}